/* ===== Index Page Sections ===== */
.welcome {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.intro {
  flex: 1 1 0;
  min-width: 300px;
}

.introimg {
  flex: 0 0 auto;
  max-width: 250px;
  border-radius: 200px;
  border: solid 2px purple;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  flex: 1;
  border: 2px solid #ead4ff;
  border-radius: 12px;
}

.feature img {
  max-width: 50px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ead4ff;
}

.aboutblurb {
  padding: 16px 0px;
}

.connect {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.connect h2 {
  text-align: center;
  color: #990ffa;
}

.social {
  display: flex;
  gap: 16px;
}

.ind {
  flex: 1;
  display: flex;
  padding: 16px;
  gap: 40px;
  border: 2px solid #ead4ff;
  border-radius: 12px;
  align-items: flex-start;
}

.ind img {
  max-width: 40px;
}

.ind div p {
  margin: 0;
}

.ind div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ===== Index Responsive ===== */
@media (max-width: 768px) {
  .welcome,
  .features,
  .social {
    flex-direction: column;
  }

  .features {
    padding: 0 50px;
  }
}